<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDyVauuM4SMY9s-F9m9m43_L_NFGqlVZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>870208891269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goskiStudent.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>goski-student</string>
	<key>STORAGE_BUCKET</key>
	<string>goski-student.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870208891269:ios:6dbbbec068f623a60cbcec</string>
</dict>
</plist>